@using EldredBrown.ProFootball.AspNetCore.MvcWebApp.ViewModels.Division
@model DivisionViewModel

@{
    ViewData["Title"] = "Create Division";
}

<h1>Division</h1>

<h4>Create</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <label class="control-label" asp-for="Name"></label>
                <input class="form-control" asp-for="Name" />
                <span class="text-danger" asp-validation-for="Name"></span>
            </div>
            <div class="form-group">
                <label class="control-label" asp-for="LeagueName"></label>
                <input class="form-control" asp-for="LeagueName" />
                <span class="text-danger" asp-validation-for="LeagueName"></span>
            </div>
            <div class="form-group">
                <label class="control-label" asp-for="ConferenceName"></label>
                <input class="form-control" asp-for="ConferenceName" />
                <span class="text-danger" asp-validation-for="ConferenceName"></span>
            </div>
            <div class="form-group">
                <label class="control-label" asp-for="FirstSeasonYear"></label>
                <input class="form-control" asp-for="FirstSeasonYear" />
                <span class="text-danger" asp-validation-for="FirstSeasonYear"></span>
            </div>
            <div class="form-group">
                <label class="control-label" asp-for="LastSeasonYear"></label>
                <input class="form-control" asp-for="LastSeasonYear" />
                <span class="text-danger" asp-validation-for="LastSeasonYear"></span>
            </div>
            <div class="form-group">
                <p>
                    <button class="btn btn-primary" type="submit">Create</button>
                </p>
            </div>
        </form>
    </div>
</div>

<div>
    <p>
        <a asp-action="Index">Back to List</a>
    </p>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
