@using EldredBrown.ProFootball.Net.Data.Models
@model GamePrediction

@{
    ViewData["Title"] = "Predict Game";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label class="col-form-label" asp-for="GuestSeasonId"></label>
                <select onchange="document.location.href=`/GamePredictor/ApplyFilter?GuestSeasonId=${this.options[this.selectedIndex].value}`;"
                        class="form-control" asp-for="GuestSeasonId" asp-items="ViewBag.GuestSeasons">
                </select>
                <span class="text-danger field-validation-error" asp-validation-for="GuestSeasonId"></span>
            </div>
            <div class="form-group">
                <label class="col-form-label" asp-for="GuestName"></label>
                <select onchange="document.location.href=`/GamePredictor/ApplyFilter?GuestName=${this.options[this.selectedIndex].value}`;"
                        class="form-control" asp-for="GuestName" asp-items="ViewBag.Guests"></select>
                <span class="text-danger field-validation-error" asp-validation-for="GuestName"></span>
            </div>
            <div class="form-group">
                <label class="col-form-label" asp-for="GuestScore"></label>
                <b>@Html.DisplayFor(model => model.GuestScore)</b>
            </div>

            <div class="form-group">
                <label class="col-form-label" asp-for="HostSeasonId"></label>
                <select onchange="document.location.href=`/GamePredictor/ApplyFilter?HostSeasonId=${this.options[this.selectedIndex].value}`;"
                        class="form-control" asp-for="HostSeasonId" asp-items="ViewBag.HostSeasons">
                </select>
                <span class="text-danger field-validation-error" asp-validation-for="HostSeasonId"></span>
            </div>
            <div class="form-group">
                <label class="col-form-label" asp-for="HostName"></label>
                <select onchange="document.location.href=`/GamePredictor/ApplyFilter?HostName=${this.options[this.selectedIndex].value}`;"
                        class="form-control" asp-for="HostName" asp-items="ViewBag.Hosts"></select>
                <span class="text-danger field-validation-error" asp-validation-for="HostName"></span>
            </div>
            <div class="form-group">
                <label class="col-form-label" asp-for="HostScore"></label>
                <b>@Html.DisplayFor(model => model.HostScore)</b>
            </div>
            <div class="form-group">
                <p>
                    <button class="btn btn-primary btn-lg" type="submit">Calculate Prediction</button>
                </p>
            </div>
        </form>
    </div>
</div>
