@{
    ViewData["Title"] = "Admin";
}

<h1>@ViewData["Title"]</h1>

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark"
                       asp-area="" asp-controller="Season" asp-action="Index">Seasons</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark"
                       asp-area="" asp-controller="League" asp-action="Index">Leagues</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark"
                       asp-area="" asp-controller="Conference" asp-action="Index">Conferences</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark"
                       asp-area="" asp-controller="Division" asp-action="Index">Divisions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark"
                       asp-area="" asp-controller="Team" asp-action="Index">Teams</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark"
                       asp-area="" asp-controller="LeagueSeason" asp-action="Index">League Seasons</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark"
                       asp-area="" asp-controller="TeamSeasonAdmin" asp-action="Index">Team Seasons</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
